<p>
  <b>Name:</b>
  <%= @music_style.name %>
</p>

<%= link_to ' Actualizar', edit_music_style_path(@music_style),:class => 'active icon-edit btn btn-primary ' %>
<%= link_to ' Atras',  music_styles_path,:class => 'active icon-arrow-left btn '%>