<%- model_class = Booking -%>
<div class="page-header">
  <h2>Paso 2/4 : Seleccionar hora y sala de ensayo</h2>
   <div class="progress progress-striped">
    <div class="bar" style="width: 50%;"></div>
  </div>
</div>
<%= render :partial => 'form' %>
